body {
  background: #d6d6d8;   
}

.info p {
  text-align:center;
  color: #999;
  text-transform:none;
  font-weight:600;
  font-size:15px;
  margin-top:2px
}

.info i {
  color:#F6AA93;
}

form #header {
  font-size: 18px;
  background: #428bca  none repeat scroll 0% 0%;
  color: rgb(255, 255, 255);
  padding: 2px 25px;
  border-radius: 5px 5px 0px 0px;
  margin: auto;
  text-shadow: none; 
  text-align:left
}

#form {
  border-radius: 5px;
  max-width:950px;
  width:160%;  
  margin: 5% auto;
  background-color: #FFFFFF;
  overflow: hidden;  
}

p span {
  color: #F00;
}

p {
  margin: 0px;
  font-weight: 500;
  line-height: 2;
  color:#333;
}

h1 {
  text-align:center; 
  color: #666;
  text-shadow: 1px 1px 0px #FFF;
  margin:50px 0px 0px 0px
}

input[type='text'] {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #e1e1e3;
  margin-bottom: 15px;
  width: 55%;
  height: 30px;
  float: left;
  padding: 0px 15px;
}

select {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #eee;
  margin-bottom: 15px;
  width: 55%;
  height: 30px;
  float: left;
  padding: 0px 15px;
}

a {
  text-decoration:inherit
}

#loanTextArea {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #EEE;
  margin: 0;
  width: 75%;
  height: 130px; 
  float: left;
  padding: 0px 15px;
}

#legalDesc {
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #EEE;
  margin: 0;
  width: 75%;
  height: 130px; 
  float: left;
  padding: 0px 15px;
}

#underwritingNotes {
  background-color:#e7eaec;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #EEE;
  margin: 0;  
  height: 130px;   
  width: 300px;      
  padding: 10px 15px;     
}

.form-group {
  overflow: hidden;
  clear: both;
}

.icon-case {
  width: 35px;
  float: left;
  border-radius: 5px 0px 0px 5px;
  background:#eeeeee;
  height:30px;
  position: relative;
  text-align: center;
  line-height:30px;
}

i {
  color:#555;
}

#contentform {
  padding: 10px 30px;
  padding-bottom: 415px;
}

#contentform2 {
  padding: 10px 30px;
  margin-bottom: 640px;
}

#contentform3 {
  padding: 10px 30px;
  margin-bottom: 350px;
}

#contentform4 {
  padding: 10px 30px;
  margin-bottom: 260px;
}

#contentform5 {
  padding: 10px 30px;
  margin-bottom: 170px;
}

#contentform6 {
  padding: 10px 30px;
  margin-bottom: 360px;
}

#contentform7 {
  padding: 10px 30px;
  margin-bottom: 170px;
}

#contentform8 {
  padding: 0px 30px;
  margin-bottom: 200px;
}

.bouton-contact{
  background-color: #81BDA4;
  color: #FFF;
  text-align: center;
  width: 100%;
  border:0;
  padding: 17px 25px;
  border-radius: 0px 0px 5px 5px;
  cursor: pointer;
  margin-top: 40px;
  font-size: 18px;
}

.firstContact {
  width:29.5%; 
  float:left;
  border-right: 2px dotted #CCC;
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
}

.secondContact {
  width:39.5%;
  float:left;
  border-right: 2px dotted #CCC;
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.thirdContact {
  width:29.5%;
  float:left;
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.firstContactSP {
  width:23.5%; 
  float:left;
  border-right: 2px dotted #CCC;
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
}

.secondContactSP {
  width:25%;
  float:left;
  border-right: 2px dotted #CCC;
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.thirdContactSP {
  width:23.5%;
  float:left;
  border-right: 2px dotted #CCC;
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.fourthContactSP {
  width:23.5%;
  float:left; 
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.firstContactPD {
  width:25%; 
  float:left;  
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
  margin-left: 280px;
}

.secondContactPD {
  width:39.5%;
  float:left;  
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.firstContactPE {
  width:25%; 
  float:left;  
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
  margin-left: 280px;
}

.secondContactPE {
  width:39.5%;
  float:left;  
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.firstContactIP {
  width:25%; 
  float:left;  
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
  margin-left: 280px;
}

.secondContactIP {
  width:39.5%;
  float:left;  
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.firstContactRI {
  width:25%; 
  float:left;  
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
  margin-left: 280px;
}

.secondContactRI {
  width:39.5%;
  float:left;  
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.firstContactPC {
  width:25%; 
  float:left;
  box-sizing: border-box;
  padding: 0px 15px 0px 0px;
  margin-left: 170px;
}

.secondContactPC {
  width:25%;
  float:left;  
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.thirdContactPC {
  width:23.5%;
  float:left;  
  box-sizing: border-box;
  padding: 0px 0px 0px 15px;
}

.firstContactUN {
  width:39.5%; 
  float:left;  
  box-sizing: border-box;
  padding: 20px 15px 0px 0px;
  margin-left: 290px;
}

.validation {
  display:none;
  margin: 0 0 10px;
  font-weight:400;
  font-size:13px;
  color: #DE5959;
}

#sendmessage {
  border:1px solid #fff;
  display:none;
  text-align:center;
  margin:10px 0;
  font-weight:600;
  margin-bottom:30px;
  background-color: #EBF6E0;
  color: #5F9025;
  border: 1px solid #B3DC82;
  padding: 13px 40px 13px 18px;
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
}

#sendmessage.show,.show  {
  display:block;
}

#box {
  border:1px solid #B3DC82;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

#submitButton {
    border-width: 5px !important;
    margin:0 auto;   
}

